---
import Technologies from "./Technologies.astro";
import Profile from "./Profile.astro";
---

<main
  class={"max-w-[700px] mx-auto relative pt-[3rem] sm:pt-[6rem] flex justify-center"}
>
  <Profile />
</main>
