---
import LinkedinButton from "./LinkedinButton.astro";
import GithubButton from "./GithubButton.astro";
import GmailButton from "./GmailButton.astro";
---

<article class="text-white p-10 space-y-6 bg-primary rounded-2xl shadow-2xl">
  <header class="flex space-x-10">
    <div>
      <h1 class="text-white">Pedro Moran</h1>
      <h2 class="text-[26px]">
        <span
          class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary before:brightness-95 relative inline-block"
          ><span class="relative text-white">+2 años</span></span
        >
        <span class="text-white px-[6px]">Siendo</span>
        <span
          class="before:block before:absolute before:-inset-1 before:bg-secondary before:brightness-95 relative inline-block"
          ><span class="relative text-white"> Frontend Developer</span></span
        >
      </h2>
    </div>
    <div
      class="w-[200px] mx-auto rounded-full border-4 border-[#21232b] overflow-hidden shadow-2xl"
    >
      <img src="profile.jpeg" alt="profile" />
    </div>
  </header>
  <section class="space-y-4">
    <p>
      Actualmente trabajando en <a
        class="font-medium text-secondary brightness-[0.9] hover:underline"
        href="https://crowdar.com.ar/"
        target="blank">Crowdar</a
      > con un equipo de desarrollo a tiempo completo construyendo un producto
      dedicado al sector B2B.
    </p>
    <article>
      <h3 class="text-white text-[24px]">A cargo de:</h3>
      <ul class="mt-2 [&>li]:marker">
        <li>Análisis e implementación de nuevas funcionalidades.</li>
        <li>Mantenimiento y refactorización de código.</li>
        <li>Capacitaciónes.</li>
      </ul>
    </article>
  </section>
  <footer class="pt-2 grid grid-cols-2 gap-4">
    <LinkedinButton />
    <GithubButton />
    <GmailButton />
  </footer>
</article>
