---
import JestIcon from "./JestIcon.astro";
---

<section
  class={`
    sm:min-w-[414px]
    flex flex-col space-y-2 sm:space-y-0
    sm:grid
    sm:grid-cols-[repeat(2,_1fr)]
    md:grid-cols-[repeat(auto-fit,_1fr)]
    sm:gap-3
    w-full 
    place-content-center

    
    [&>article]:pl-[30px]
    sm:[&>article]:pl-0
    [&>article]:bg-white
    [&>article]:overflow-hidden
    [&>article]:w-full
    [&>article]:h-[60px]
    [&>article]:flex
    [&>article]:items-center
    [&>article]:space-x-2
    [&>article]:rounded-md
    [&>article]:shadow-md
    [&>article>h4]:text-md

    [&>article>div]:flex-center
    [&>article>div]:w-[50px]
    [&>article>div>img]:w-[30px]
    [&>article>div]:h-full
    [&>article>div]:relative
  `}
>
  <article>
    <div>
      <img style="width: 30px;" src="skills/html.svg" alt="css" />
    </div>
    <h4>HTML</h4>
  </article>
  <article>
    <div>
      <img style="width: 30px;" src="skills/css.svg" alt="css" />
    </div>
    <h4>CSS</h4>
  </article>
  <article>
    <div>
      <div class="rounded bg-[#ffd600] p-[3px]">
        <img
          class=""
          style="width: 25px;"
          src="skills/javascript.svg"
          alt="javascript"
        />
      </div>
    </div>
    <h4>JavaScript</h4>
  </article>

  <article>
    <div>
      <div class="rounded bg-[#1976D2] p-[3px]">
        <img
          class=""
          style="width: 25px;"
          src="skills/typescript.svg"
          alt="typescript"
        />
      </div>
    </div>
    <h4 class="text-neutral-800">TypeScript</h4>
  </article>

  <article>
    <div>
      <img src="skills/react.svg" alt="react" />
    </div>
    <h4 class="text-neutral-800">React</h4>
  </article>

  <article>
    <div>
      <img style="width: 33px;" src="skills/astro.png" alt="astro" />
    </div>
    <h4 class="text-neutral-800">Astro</h4>
  </article>

  <article>
    <div>
      <img class="w-full" src="skills/tailwind.svg" alt="tailwind" />
    </div>
    <h4 class="text-neutral-800">Tailwindcss</h4>
  </article>

  <article>
    <div>
      <img src="skills/testing-library.png" alt="testing-library" />
    </div>
    <h4 class="text-neutral-800">Testing Library</h4>
  </article>

  <article>
    <div>
      <div class="w-[30px]"><JestIcon /></div>
    </div>
    <h4>Jest</h4>
  </article>
</section>
