---
interface Props {
    title: string;
    description?: string;
    image?: string;
}

const { description, title } = Astro.props;
---

<article
    class="relative z-[-1] bg-primary p-10 rounded-xl shadow-md border border-[#04142a26] xs:bg-transparent xs:backdrop-blur-[100px] xs:transition-colors xs:duration-100"
>
    <i class="absolute top-8 right-8">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 text-green-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="M5 13l4 4L19 7"></path>
        </svg>
    </i>
    <h4 class="text-current">{title}</h4>
    {description && <p>{description}</p>}
    <slot />
</article>
