---
import { GmailDropSection } from "./gmail-drop-section";
import GmailIcon from "./gmail-icon/index.astro";
---

<div
  aria-label="Gmail Button"
  class="relative w-full btn p-0 text-center flex-1 text-white group"
>
  <a
    class="rounded hover:rounded-none hover:rounded-t bg-[#1f3759] hover:bg-[#2c4b77] grid grid-cols-[60px,1fr] duration-100"
    href="mailto:pedromoran228@gmail.com"
  >
    <GmailIcon />
    <p class="flex-1 m-0 self-center">Gmail</p>
  </a>
  <GmailDropSection client:load />
</div>
