---
import classNames from "classnames";

interface Props {
  slices: SliderSliceT[];
  className?: string;
}

export type SliderSliceT = {
  imgSrc: string;
  maskSrc: string;
};

const { slices, className } = Astro.props;
---

<section
  class={classNames(
    "flex snap-mandatory snap-x overflow-x-auto w-full py-10 px-[30px] sm:px-[60px] space-x-[15px]",
    className
  )}
>
  {
    slices.map((slice) => {
      return (
        <li class="min-w-full snap-center list-none ">
          <img
            class="w-full rounded-lg shadow-[0px_0px_40px_10px_#0000006e]"
            src={slice.imgSrc}
            alt="slider slice"
            loading="lazy"
          />
        </li>
      );
    })
  }
</section>
