<a
  href="https://github.com/pedro-moran228"
  target="_blank"
  aria-label="Gmail Button"
  class="btn p-0 flex items-center text-center bg-[#1f3759] hover:bg-[#2c4b77] text-white"
>
  <div
    class="w-[60px] h-[50px] flex-center border-r-4 border-primary shadow-md"
  >
    <svg width="30" class="" viewBox="52 42 88 66">
      <path fill="#4285f4" d="M58 108h14V74L52 59v43c0 3.32 2.69 6 6 6"></path>
      <path fill="#34a853" d="M120 108h14c3.32 0 6-2.69 6-6V59l-20 15"></path>
      <path fill="#fbbc04" d="M120 48v26l20-15v-8c0-7.42-8.47-11.65-14.4-7.2"
      ></path>
      <path fill="#ea4335" d="M72 74V48l24 18 24-18v26L96 92"></path>
      <path
        fill="#c5221f"
        d="M52 51v8l20 15V48l-5.6-4.2c-5.94-4.45-14.4-.22-14.4 7.2"></path>
    </svg>
  </div>
  <span class="flex-1 self-stretch flex-center">Gmail</span>
</a>
