---
import LinkedinButton from "./LinkedinButton.astro";
import GithubButton from "./GithubButton.astro";
import GmailButton from "./GmailButton.astro";
---

<main
  class="xs:container-sm w-full rounded-none mt-0 xs:mt-[3rem] sm:mt-[6rem] text-white p-10 space-y-6 bg-primary xs:rounded-2xl shadow-2xl"
>
  <header class="space-y-2 md:space-y-0">
    <div class="flex flex-col-reverse sm:block">
      <div
        class="mx-auto relative mt-10 sm:mt-0 rounded-full w-[200px] h-max overflow-hidden shadow-2xl"
        style="shape-outside: circle(50%); clip-path: circle(50%); float: right; shape-margin: 20px; background-image: radial-gradient(circle, #6c426e, #503c5f, #3a344d, #292a38, #1e1f22);"
      >
        <img
          class="absolute opacity-5 -z-10 w-full h-full"
          src="noise.gif"
          alt="noise"
        />
        <img src="profile.png" alt="profile" />
      </div>
      <section>
        <header>
          <h1 class="text-white">Pedro Moran</h1>
          <h2 class="text-[26px]">
            <span
              class="before:rounded before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary before:brightness-95 relative inline-block"
              ><span class="relative text-white">+2 años</span></span
            >
            <span class="text-white px-[6px]">Siendo</span>
            <span
              class="before:rounded before:block before:absolute before:-inset-1 before:bg-secondary before:brightness-95 relative inline-block"
              ><span class="relative text-white">
                Frontend Developer</span
              ></span
            >
          </h2>
        </header>
        <p class="mt-10">
          Actualmente trabajando en <a
            class="font-medium text-secondary brightness-150 hover:underline"
            href="https://crowdar.com.ar/"
            target="blank">Crowdar</a
          > con un equipo de desarrollo a tiempo completo construyendo un
          producto dedicado al sector B2B.
        </p>
      </section>
    </div>
  </header>
  <section class="space-y-4">
    <article>
      <h3 class="text-white text-[24px]">A cargo de:</h3>
      <ul class="mt-2 [&>li]:marker">
        <li>Análisis e implementación de nuevas funcionalidades.</li>
        <li>Documentación.</li>
        <li>Despliegues a producción.</li>
        <li>Capacitaciones.</li>
      </ul>
    </article>
  </section>
  <footer
    id="profile-footer"
    aria-label="Social media links"
    class="pt-2 space-y-3 sm:space-y-0 sm:grid sm:grid-cols-3 gap-4"
  >
    <LinkedinButton />
    <GithubButton />
    <GmailButton />
  </footer>
</main>

<script>
  const profileFooter = document.getElementById("profile-footer");

  profileFooter?.addEventListener("mouseover", (e) => {
    const target = e.target as HTMLElement;
    const isAchor = target.closest("a");
    if (!isAchor) return;

    [...profileFooter.children].forEach((a) => {
      if (isAchor.getAttribute("aria-label") === a.getAttribute("aria-label"))
        return;

      a.classList.add("opacity-50");
    });
  });

  profileFooter?.addEventListener("mouseout", (e) => {
    const target = e.target as HTMLElement;
    const isAchor = target.closest("a");
    if (!isAchor) return;

    [...profileFooter.children].forEach((a) => {
      if (isAchor.getAttribute("aria-label") === a.getAttribute("aria-label"))
        return;

      a.classList.remove("opacity-50");
    });
  });
</script>
