---
import Technologies from "../../common/technologies/index.astro";
import { Carousel } from "../../common/carousel";
import Slider from "../../common/slider/index.astro";
import classNames from "classnames";

import acdm1 from "../../../assets/crowdar/academy/png/1.png";
import acdm2 from "../../../assets/crowdar/academy/png/2.png";
import acdm3 from "../../../assets/crowdar/academy/png/3.png";
import acdm4 from "../../../assets/crowdar/academy/png/4.png";

import acdm1m from "../../../assets/crowdar/academy/mask/1.avif";
import acdm2m from "../../../assets/crowdar/academy/mask/2.avif";
import acdm3m from "../../../assets/crowdar/academy/mask/3.avif";
import acdm4m from "../../../assets/crowdar/academy/mask/4.avif";

const images = [
  {
    imgSrc: acdm1.src,
    maskSrc: acdm1m.src,
  },
  {
    imgSrc: acdm2.src,
    maskSrc: acdm2m.src,
  },
  {
    imgSrc: acdm3.src,
    maskSrc: acdm3m.src,
  },
  {
    imgSrc: acdm4.src,
    maskSrc: acdm4m.src,
  },
];

interface Props {
  color: `bg-${string}`;
}

const { color } = Astro.props;
---

<article id="box-project-experience" class="relative space-y-12 z-0 pt-[200px]">
  <header class="container">
    <h3 class="text-current">Crowdar Academy</h3>
    <p>
      Recreé por completo el nuevo sitio de <a
        target="_blank"
        href="https://crowdar.academy/">Crowdar Academy.</a
      >
    </p>
    <p>
      Para este proyecto se me pidió recrear el antiguo sitio web con alguna
      tecnología moderna y conveniente para el tipo de proyecto.
    </p>
    <p>
      El diseño del sitio fue dato en figma. Al momento de iniciar solo se
      proporcionó el formato desktop, progresivamente fui incorporando el diseño
      responsive.
    </p>
  </header>
  <div class="container">
    <Carousel
      color={color}
      className="hidden md:block"
      slices={images}
      client:visible
    />
  </div>
  <Slider className="block md:hidden" images={[acdm1, acdm2, acdm3, acdm4]} />
  <footer class="container mr-auto space-y-12">
    <section>
      <p>Entre algunas de las caracterisiticas se encuentran:</p>
      <ul
        class={classNames(
          "space-y-1 mt-2 [&>li]:marker",
          `[&>li]:before:${color}`
        )}
      >
        <li>Manejo de rutas.</li>
        <li>Responsive web design (mobile first).</li>
        <li>Static Site Generation.</li>
      </ul>
    </section>
    <section>
      <Technologies theme="dark" technologies={["NextJS", "SASS"]} />
    </section>
  </footer>
</article>
