---
import Technologies from "../../HeroSection/Technologies.astro";
import TimeLapseLine from "../TimeLapseLine.astro";
---

<article class="relative z-0 mt-[200px]">
  <TimeLapseLine label="2023" />
  <header class="container-sm">
    <h3 class="text-current">Crowdar Academy</h3>
    <p>
      Recreé por completo el nuevo sitio de <a
        class="font-medium hover:underline text-secondary"
        target="_blank"
        href="https://crowdar.academy/">Crowdar Academy.</a
      >
    </p>
    <p>
      Para este proyecto se me pidió recrear el antiguo sitio web con alguna
      tecnología moderna y conveniente para el tipo de proyecto.
    </p>
    <p>
      El diseño del sitio fue dato en figma. Al momento de iniciar solo se
      proporcionó el formato desktop, progresivamente fui incorporando el diseño
      responsive.
    </p>
  </header>
  <div
    class="mt-12 container-sm mx-auto rounded-2xl overflow-hidden aspect-video shadow-[0px_0px_40px_10px_#0000006e]"
  >
    <img
      class="w-full h-full object-cover"
      src="academy/desktop1.jpg"
      alt="academy"
    />
  </div>
  <footer class="container ml-auto max-w-[800px] space-y-12 pr-[150px] pt-12">
    <section>
      <h4 class="text-current">Funcionalidades</h4>
      <ul class="space-y-1 [&>li]:marker">
        <li>Manejo de rutas.</li>
        <li>Responsive web design (mobile first).</li>
        <li>Static Site Generation.</li>
      </ul>
    </section>
    <section>
      <h4 class="text-current">Tecnologías</h4>
      <Technologies theme="dark" technologies={["NextJS", "SASS"]} />
    </section>
  </footer>
  <div class="relative container">
    <div
      class="absolute rounded-2xl overflow-hidden bottom-0 right-0 shadow-[0px_0px_15px_0px_rgb(0_0_0_/_0.25)] md:shadow-[8px_8px_35px_0px_#0000006e] w-[250px]"
    >
      <img src="academy/mobile.png" alt="academy-mobile" />
    </div>
  </div>
</article>
