---
import Technologies from "../../common/technologies/index.astro";
import { Carousel } from "../../common/carousel";
import Slider from "../../common/slider/index.astro";
import classNames from "classnames";

import en1 from "../../../assets/envero/png/1.png";
import en2 from "../../../assets/envero/png/2.png";
import en3 from "../../../assets/envero/png/3.png";
import en4 from "../../../assets/envero/png/4.png";

import en1m from "../../../assets/envero/mask/1.avif";
import en2m from "../../../assets/envero/mask/2.avif";
import en3m from "../../../assets/envero/mask/3.avif";
import en4m from "../../../assets/envero/mask/4.avif";

interface Props {
  color: `bg-${string}`;
}

const { color } = Astro.props;

const images = [
  {
    imgSrc: en1.src,
    maskSrc: en1m.src,
  },
  {
    imgSrc: en2.src,
    maskSrc: en2m.src,
  },
  {
    imgSrc: en3.src,
    maskSrc: en3m.src,
  },
  {
    imgSrc: en4.src,
    maskSrc: en4m.src,
  },
];
---

<article id="box-project-experience" class="space-y-12">
  <header class="container">
    <h3 class="text-current">Envero</h3>
    <p>
      Trabaje en arreglos de bugs y nuevas funcionalidades para el frontend de
      envero.
    </p>
    <p>Agregué nuevas caracteristicas como:</p>
    <ul
      class={classNames(
        "space-y-1 mt-2 [&>li]:marker",
        `[&>li]:before:${color}`
      )}
    >
      <li>Fix de bugs.</li>
      <li>Fetching de datos.</li>
      <li>Rutas de navegación.</li>
      <li>Manejo de estados con Redux.</li>
      <li>Componentes como tablas, paginacion y graficos.</li>
    </ul>
  </header>
  <div class="container">
    <Carousel
      color={color}
      className="hidden md:block"
      slices={images}
      client:visible
    />
  </div>
  <Slider className="block md:hidden" images={[en1, en2, en3, en4]} />
  <footer class="container space-y-12 mt-12">
    <Technologies
      theme="dark"
      grid3Col
      technologies={["React", "TypeScript", "Tailwind"]}
    />
  </footer>
</article>
<!-- <span class="hidden [&>li]:before:bg-green-500/90"></span> -->
