---
import Carousel from "../../common/Carousel/Index";
import Technologies from "../../common/Technologies.astro";
---

<article
  id="box-project-experience"
  class="container-sm relative pt-[200px] z-0 space-y-12"
>
  <header>
    <h3 class="text-current">Lippia Report Server</h3>
    <p>
      Participé en la escalabilidad del proyecto, mejorando la experiencia de
      usuario y las capacidades del producto.
    </p>
    <p>Agregué nuevas caracteristicas como:</p>
    <ul class="space-y-1 mt-2 [&>li]:marker">
      <li>
        Cacheo y Revalidación de datos con <span class="font-bold">SWR</span>.
      </li>
      <li>Nuevas Rutas dinámicas</li>
      <li>Regionalización.</li>
      <li>Estados globales con <span class="font-bold">useContext</span>.</li>
    </ul>
  </header>
  <Carousel
    slices={[
      { imgSrc: "LRS/png/4.png", maskSrc: "LRS/mask/4.avif" },
      { imgSrc: "LRS/png/1.png", maskSrc: "LRS/mask/1.avif" },
      { imgSrc: "LRS/png/2.png", maskSrc: "LRS/mask/2.avif" },
      { imgSrc: "LRS/png/3.png", maskSrc: "LRS/mask/3.avif" },
    ]}
    client:visible
  />
  <footer class="space-y-12 mt-12">
    <p>
      Mi participación en el proyecto fue de <span class="font-bold"
        >4 meses</span
      >, en los que estuve trabajando en el Frontend de la aplicación arreglando
      bugs y agregando nuevas funcionalidades.
    </p>
    <article>
      <h4 class="text-current">Tecnologías</h4>
      <Technologies
        theme="dark"
        grid3Col
        technologies={["React", "TypeScript", "Tailwind"]}
      />
    </article>
  </footer>
</article>
