---
import Technologies from "../../HeroSection/Technologies.astro";
import TimeLapseLine from "../TimeLapseLine.astro";
---

<article id="box-project-experience" class="relative z-0 space-y-12">
  <!-- <TimeLapseLine label="2022 - 2023" /> -->
  <header class="container-sm"> 
    <h3 class="text-current">Lippia Test Manager</h3>
    <p>
      Creación de una primera y segunda del Test Manager.
      Esta segundo versión del Test Manager fue realizada como un mvp.
    </p>
  </header>
  <div
    class="container-sm rounded-2xl overflow-hidden shadow-[0px_0px_40px_10px_#0000006e]"
  >
    <img src="lippia/1.png" alt="academy" />
  </div>
  <footer class="container-sm space-y-12 mt-12">
    <article>
      <h4 class="text-current">Características</h4>
      <ul class="space-y-1 [&>li]:marker">
        <li>Rutas dinamicas con Single Page Application.</li>
        <li>Estados globales con <span class="font-bold">context</span> y <span class="font-bold">useReducer</span>.</li>
        <li>Custom hooks.</li>
        <li>Formularios.</li>
        <li>Autenticación con Herramienta de Gestión (<span class="font-bold">Keycloak</span>).</li>
        <li>Fetching de datos.</li>
        <li>Tablas con multifuncionales.</li>
      </ul>
    </article>
    <article>
      <h4 class="text-current">Tecnologías</h4>
      <Technologies
        theme="dark"
        grid3Col
        technologies={[
          "React",
          "TypeScript",
          "Tailwind",
          "Jest",
          "Testing_Library",
          "Vite",
        ]}
      />
    </article>
  </footer>
</article>
