---
import Technologies from "../../common/technologies/index.astro";
import { Carousel } from "../../common/carousel";
import Slider from "../../common/slider/index.astro";
import classNames from "classnames";

import lrs1 from "../../../assets/crowdar/LRS/png/1.png";
import lrs2 from "../../../assets/crowdar/LRS/png/2.png";
import lrs3 from "../../../assets/crowdar/LRS/png/3.png";
import lrs4 from "../../../assets/crowdar/LRS/png/4.png";

import lrs1m from "../../../assets/crowdar/LRS/mask/1.avif";
import lrs2m from "../../../assets/crowdar/LRS/mask/2.avif";
import lrs3m from "../../../assets/crowdar/LRS/mask/3.avif";
import lrs4m from "../../../assets/crowdar/LRS/mask/4.avif";

const images = [
  {
    imgSrc: lrs1.src,
    maskSrc: lrs1m.src,
  },
  {
    imgSrc: lrs2.src,
    maskSrc: lrs2m.src,
  },
  {
    imgSrc: lrs3.src,
    maskSrc: lrs3m.src,
  },
  {
    imgSrc: lrs4.src,
    maskSrc: lrs4m.src,
  },
];

interface Props {
  color: `bg-${string}`;
}

const { color } = Astro.props;
---

<article id="box-project-experience" class="relative pt-[200px] z-0 space-y-12">
  <header class="container">
    <h3 class="text-current">Lippia Report Server</h3>

    <p>
      I participated in the scalability of the project, improving the user
      experience and product capabilities.
    </p>

    <p>I added new features like:</p>
    <ul
      class={classNames(
        "space-y-1 mt-2 [&>li]:marker",
        `[&>li]:before:${color}`,
      )}
    >
      <li>
        Cache and revalidation of data with <span class="font-bold">SWR</span>.
      </li>
      <li>New dynamic routes.</li>
      <li>
        New page with multi selection and composition of different records.
      </li>
      <li>
        Integration with external api (<strong>Gitlab</strong>, <strong
          >Attlasian</strong
        >) for issue reports.
      </li>
      <li>Regionalization.</li>
      <li>Global states with <span class="font-bold">useContext</span>.</li>
    </ul>
  </header>
  <div class="container">
    <Carousel
      color={color}
      className="hidden md:block"
      slices={images}
      client:visible
    />
  </div>
  <Slider className="block md:hidden" images={[lrs1, lrs2, lrs3, lrs4]} />
  <footer class="container space-y-12 mt-12">
    <p>
      My participation in the project was <span class="font-bold">6 months</span
      >, during which I was working on the Frontend of the application, fixing
      bugs and adding new functionalities.
    </p>
    <Technologies
      theme="dark"
      grid3Col
      technologies={["React", "TypeScript", "Tailwind"]}
    />
  </footer>
</article>
