---
import classNames from "classnames";
import { Carousel } from "../../common/carousel";
import Slider from "../../common/slider/index.astro";
import Technologies from "../../common/technologies/index.astro";

import ltm1 from "../../../assets/crowdar/LTM/png/1.png";
import ltm2 from "../../../assets/crowdar/LTM/png/2.png";
import ltm3 from "../../../assets/crowdar/LTM/png/3.png";
import ltm4 from "../../../assets/crowdar/LTM/png/4.png";

import ltm1m from "../../../assets/crowdar/LTM/mask/1.avif";
import ltm2m from "../../../assets/crowdar/LTM/mask/2.avif";
import ltm3m from "../../../assets/crowdar/LTM/mask/3.avif";
import ltm4m from "../../../assets/crowdar/LTM/mask/4.avif";

const images = [
  {
    imgSrc: ltm1.src,
    maskSrc: ltm1m.src,
  },
  {
    imgSrc: ltm2.src,
    maskSrc: ltm2m.src,
  },
  {
    imgSrc: ltm3.src,
    maskSrc: ltm3m.src,
  },
  {
    imgSrc: ltm4.src,
    maskSrc: ltm4m.src,
  },
];

interface Props {
  color: `bg-${string}`;
}

const { color } = Astro.props;
---

<article id="box-project-experience" class="relative z-0">
  <header class="container">
    <h3 class="text-current">Lippia Test Manager</h3>
  </header>
  <section class="mt-8">
    <div class="container">
      <p>
        I participated as frontend developer in a first and second version of
        Lippia Test Manager.
      </p>
      <p>
        In the first version, I was in charge of planning, functional design and
        development implementing features such as:
      </p>
      <ul
        class={classNames(
          "space-y-1 mt-2 [&>li]:marker",
          `[&>li]:before:${color}`
        )}
      >
        <li>Dynamic routes with Single Page Application.</li>
        <li>
          Estados globales con <strong>useContext</strong> y <strong
            >useReducer</strong
          >.
        </li>
        <li>Global states with useContext and useReducer.</li>
        <li>React Custom hooks.</li>
        <li>Forms.</li>
        <li>Internationalization.</li>
        <li>
          Authentication and user management with <strong>Keycloak</strong>.
        </li>
        <li>Data fetching.</li>
        <li>Multifunctional tables.</li>
      </ul>
      <p>
        This first version was discarded and it was decided to start a second
        version as an MVP.
      </p>
      <Carousel
        color={color}
        className="hidden md:block"
        slices={images}
        client:visible
      />
    </div>
    <Slider className="block md:hidden" images={[ltm1, ltm2, ltm3, ltm4]} />
    <div class="container">
      <p>
        I was able to complete the migration of the <strong
          >Create React App</strong
        > tool to <strong>Vite</strong> and the upgrade from <strong
          >React v17</strong
        > to <strong>React v18</strong>.
      </p>
      <p>
        Improved software quality in both efficiency and scalability by
        standardizing <strong>S.O.L.I.D</strong> principles, best practices and
        techniques such as <strong>lazy loading</strong> to improve user
        experience.
      </p>
      <p>
        Also apart from my role in the frontend I also helped with the backend
        development as it was done in <strong>NestJs</strong> (Javascript). With
        my contributions I was able to improve up to <strong>300%</strong> the
        efficiency of the backend in operations such as data collection and
        retrieval.
      </p>
    </div>
  </section>
  <footer class="container mt-10 space-y-12">
    <Technologies
      technologies={[
        "React",
        "TypeScript",
        "Tailwind",
        "Jest",
        "Testing_Library",
        "Vite",
        "NestJS",
        "PostgreSQL",
      ]}
    />
  </footer>
</article>
