---
import Technologies from "../../HeroSection/Technologies.astro";
import TimeLapseLine from "../TimeLapseLine.astro";
---

<!-- <header class="container-sm">
    <h3 class="text-current">Crowdar Academy</h3>
    <p>
      Recreé por completo el nuevo sitio de <a
        class="font-medium hover:underline text-secondary"
        target="_blank"
        href="https://crowdar.academy/">Crowdar Academy.</a
      >
    </p>
    <p>
      Para este proyecto se me pidió recrear el antiguo sitio web con alguna
      tecnología moderna y conveniente para el tipo de proyecto.
    </p>
    <p>
      El diseño del sitio fue dato en figma. Al momento de iniciar solo se
      proporcionó el formato desktop, progresivamente fui incorporando el diseño
      responsive.
    </p>
  </header> --><!-- Un único repositorio para administrar todos los resultados de sus pruebas, incluidos los manuales y la automatización con múltiples soportes de marco y una API de inyección. Integrado con las herramientas más populares (Jira, Gitlab, Azure Devops) para informar errores y tareas directamente desde los resultados de sus pruebas. -->
<article id="box-project-experience" class="relative pt-[200px] z-0 space-y-12">
  <!-- <TimeLapseLine label="2021" /> -->
  <header class="container-sm">
    <h3 class="text-current">Lippia Report Server</h3>
    <p>
      Aplicación web usada para visualizar resultados de las pruebas
      automatizadas.
    </p>
    <p>
      Participé en la escalabilidad del proyecto, mejorando la experiencia de
      usuario y las capacidades del producto.
    </p>
  </header>
  <div
    class="container-sm rounded-2xl overflow-hidden shadow-[0px_0px_40px_10px_#0000006e]"
  >
    <img src="lippia/1.png" alt="academy" />
  </div>
  <footer class="container-sm space-y-12 mt-12">
    <article>
      <h4 class="text-current">Características</h4>
      <ul class="space-y-1 [&>li]:marker">
        <li>
          Cacheo y Revalidación de datos con <span class="font-bold">SWR</span>.
        </li>
        <li>Rutas dinámicas</li>
        <li>Regionalización.</li>
        <li>Estados globales con <span class="font-bold">Context</span>.</li>
      </ul>
    </article>
    <article>
      <h4 class="text-current">Tecnologías</h4>
      <Technologies
        theme="dark"
        grid3Col
        technologies={["React", "TypeScript", "Tailwind"]}
      />
    </article>
  </footer>
</article>
