---
import Technologies from "../../common/technologies/index.astro";
import { Carousel } from "../../common/carousel";
import Slider from "../../common/slider/index.astro";
import classNames from "classnames";

import lrs1 from "../../../assets/crowdar/LRS/png/1.png";
import lrs2 from "../../../assets/crowdar/LRS/png/2.png";
import lrs3 from "../../../assets/crowdar/LRS/png/3.png";
import lrs4 from "../../../assets/crowdar/LRS/png/4.png";

import lrs1m from "../../../assets/crowdar/LRS/mask/1.avif";
import lrs2m from "../../../assets/crowdar/LRS/mask/2.avif";
import lrs3m from "../../../assets/crowdar/LRS/mask/3.avif";
import lrs4m from "../../../assets/crowdar/LRS/mask/4.avif";

const images = [
  {
    imgSrc: lrs1.src,
    maskSrc: lrs1m.src,
  },
  {
    imgSrc: lrs2.src,
    maskSrc: lrs2m.src,
  },
  {
    imgSrc: lrs3.src,
    maskSrc: lrs3m.src,
  },
  {
    imgSrc: lrs4.src,
    maskSrc: lrs4m.src,
  },
];

interface Props {
  color: `bg-${string}`;
}

const { color } = Astro.props;
---

<article id="box-project-experience" class="relative pt-[200px] z-0 space-y-12">
  <header class="container">
    <h3 class="text-current">Lippia Report Server</h3>
    <p>
      Participé en la escalabilidad del proyecto, mejorando la experiencia de
      usuario y las capacidades del producto.
    </p>
    <p>Agregué nuevas caracteristicas como:</p>
    <ul
      class={classNames(
        "space-y-1 mt-2 [&>li]:marker",
        `[&>li]:before:${color}`
      )}
    >
      <li>
        Cacheo y Revalidación de datos con <span class="font-bold">SWR</span>.
      </li>
      <li>Nuevas Rutas dinámicas</li>
      <li>Regionalización.</li>
      <li>Estados globales con <span class="font-bold">useContext</span>.</li>
    </ul>
  </header>
  <div class="container">
    <Carousel
      color={color}
      className="hidden md:block"
      slices={images}
      client:visible
    />
  </div>
  <Slider className="block md:hidden" images={[lrs1, lrs2, lrs3, lrs4]} />
  <footer class="container space-y-12 mt-12">
    <p>
      Mi participación en el proyecto fue de <span class="font-bold"
        >6 meses</span
      >, en los que estuve trabajando en el Frontend de la aplicación arreglando
      bugs y agregando nuevas funcionalidades.
    </p>
    <Technologies
      theme="dark"
      grid3Col
      technologies={["React", "TypeScript", "Tailwind"]}
    />
  </footer>
</article>
