<section>
  <h2>About me</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, ad sint
    dolores ab cum ipsum odit voluptatum mollitia rem aliquam soluta quod. Aut
    eaque iusto soluta! Labore nobis quas tempore!
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi,
    voluptatibus id! Ad quis maxime vel commodi itaque in, corporis id vero.
  </p>
</section>
