---
export interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---
<!-- #eaeaead1 -->
<!-- #eaeaea -->
<article
  class="rounded-lg overflow-hidden bg-[#eaeaead1]"
>
  <header class="">
    <slot name="header-img"/>
  </header>
  <div class="p-4 shadow-[inset_0px_0px_3px_#c8c8c878]">
    <h4 class="mb-1">{title}</h4>
    <p>
      {description}
    </p>
  </div>
</article>
