---
export interface Props {
  description: string;
  title: string;
  elements: string[];
}

const { description, title, elements } = Astro.props;
---

<article class="rounded overflow-hidden shadow-[0px_10px_30px_#b7b7b77a]">
  <header class="">
    <slot name="header-img" />
  </header>
  <div class="p-4">
    <h4>{title}</h4>
    <p class="mt-1">
      {description}
    </p>
    <section>
      <h5 class="mt-5">Tecnologias:</h5>
      <ul class="mt-2 space-y-1">
        {elements.map((element) => <li>- {element}</li>)}
      </ul>
    </section>
  </div>
</article>
