---
import Technologies from "../HeroSection/Technologies.astro";
---

<article class="relative divide-line--before">
  <header class="max-w-[calc(100%-125px)] pb-12 pr-20">
    <h3 class="text-current">Crowdar Academy</h3>
    <p>
      Recreé por completo el nuevo sitio de <a
        class="hover:underline text-orange-500"
        target="_blank"
        href="https://crowdar.academy/">Crowdar Academy.</a
      >
    </p>
    <p>
      Para este proyecto se me pidió recrear el antiguo sitio web con alguna
      tecnología moderna y conveniente para el tipo de proyecto.
    </p>
    <p>
      El diseño del sitio fue dato en figma. Al momento de iniciar solo se
      proporcionó el formato desktop, progresivamente fuí incorporando el diseño
      responsive.
    </p>
  </header>
  <div
    class="mx-auto rounded-2xl overflow-hidden aspect-video shadow-[0px_0px_40px_10px_#0000006e]"
  >
    <img
      class="w-full h-full object-cover"
      src="academy/desktop1.jpg"
      alt="academy"
    />
  </div>

  <div
    class="absolute rounded-2xl overflow-hidden top-0 shadow-[0px_0px_15px_0px_rgb(0_0_0_/_0.25)] right-[-140px] w-[250px]"
  >
    <img src="academy/mobile1.png" alt="academy-mobile" />
  </div>
  <div
    class="absolute rounded-2xl overflow-hidden bottom-[0px] shadow-[0px_0px_15px_0px_rgb(0_0_0_/_0.25)] left-[-140px] w-[250px]"
  >
    <img src="academy/mobile2.png" alt="academy-mobile" />
  </div>
  <footer class="ml-auto max-w-[calc(100%-150px)] space-y-12 pt-12">
    <section>
      <h4 class="text-current">Características</h4>
      <ul class="space-y-1 [&>li]:marker">
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      </ul>
    </section>
    <section>
      <h4 class="text-current">Tecnologías</h4>
      <Technologies theme="dark" technologies={["NextJS", "SASS"]} />
    </section>
  </footer>
</article>
