<article class="container max-w-[900px] relative divide-line--before">
  <header class="max-w-[calc(100%-125px)] pb-12 pr-20">
    <h3>Crowdar Academy</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo porro
      autem aliquid expedita ad numquam voluptatibus itaque, rerum ullam
      deleniti a amet beatae nulla cum, libero repellat cumque consequatur sit.
    </p>
  </header>
  <div class="mx-auto shadow-[0px_0px_40px_10px_#0000006e]">
    <img class="rounded-2xl shadow-2xl" src="academy/1.png" alt="academy" />
  </div>

  <div
    class="absolute top-0 shadow-[0px_0px_15px_0px_rgb(0_0_0_/_0.25)] right-[-125px] w-[250px]"
  >
    <img
      class="rounded-2xl shadow-2xl"
      src="academy/mobile1.png"
      alt="academy-mobile"
    />
  </div>
  <div
    class="absolute bottom-0 shadow-[0px_0px_15px_0px_rgb(0_0_0_/_0.25)] left-[-125px] w-[250px]"
  >
    <img
      class="rounded-2xl shadow-2xl"
      src="academy/mobile2.png"
      alt="academy-mobile"
    />
  </div>
  <footer class="ml-auto max-w-[calc(100%-125px)] pt-12 pl-20">
    <h4 class="text-[24px]">Características</h4>
    <ul class="pl-5 mt-1 space-y-1 [&>li]:marker">
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </footer>
</article>
