---
import CrowdarAcademy from "./Projects/CrowdarAcademy.astro";
import LippiaTestManager from "./Projects/LippiaTestManager.astro";
import LippiaReportServer from "./Projects/LippiaReportServer.astro";
---

<section class="mt-[250px] pb-[380px] relative bg-primary text-white">
  <header
    class="relative before:border-t-2 w-full h-[125px] bg-primary mark-triangle--before"
  >
    <!-- <div
      class="text-[40px] sm:text-[43px] font-bold container block w-max ml-auto text-right relative top-[-100px] -rotate-3 before:rounded-xl before:border-2 before:z-[0] before:block before:absolute before:inset-[-0.5rem_-1.5rem] before:bg-primary"
    >
      <span class="relative text-transparent">Experiencia</span>
      <h2 class="block absolute top-0 z-10 w-max">
        <span class="relative text-white">Experiencia</span>
      </h2>
    </div> -->
    <div class="relative container">
      <h2
        class="absolute right-0 top-[-120px] text-white z-[6] bg-primary -rotate-3"
      >
        Experiencia
      </h2>
      <div
        class="absolute right-0 top-[-120px] text-white z-[4] -rotate-3 before:rounded-xl before:border-2 before:z-[0] before:block before:absolute before:inset-[-0.5rem_-1.5rem] before:bg-primary"
      >
        <h2 class="text-transparent">Experiencia</h2>
      </div>
    </div>
  </header>
  <section class="relative">
    <LippiaTestManager />
    <CrowdarAcademy />
    <LippiaReportServer />
  </section>
</section>
