---
import CrowdarAcademy from "./CrowdarAcademy.astro";
import LippiaTestManager from "./LippiaTestManager.astro";
---

<section
  class="mt-[250px] relative bg-primary pb-[160px] mark-triangle--before mark-triangle--after text-white"
>
  <header
    class="mx-auto left-1/2 -translate-x-1/2 absolute text-right container"
  >
    <h2
      class="abosolute top-[-135px] -rotate-3 before:block before:absolute before:-inset-1 before:bg-primary relative inline-block"
    >
      <span class="relative text-secondary bg-primary">Experiencia</span>
    </h2>
  </header>
  <section class="mx-auto max-w-[800px] space-y-[200px]">
    <LippiaTestManager />
    <CrowdarAcademy />
  </section>
</section>
