---
import CrowdarAcademy from "./CrowdarAcademy.astro";
import LippiaTestManager from "./LippiaTestManager.astro";
---

<section class="mt-[250px] pt-[80px] pb-[380px] relative bg-primary text-white">
  <header class="absolute overflow-hidden py-[200px] top-[-200px] w-full">
    <section class="relative w-full h-full mark-triangle--before">
      <div
        class="mx-auto left-1/2 -translate-x-1/2 absolute text-right container"
      >
        <h2
          class="abosolute top-[-135px] -rotate-3 before:block before:absolute before:-inset-1 before:bg-primary relative inline-block"
        >
          <span class="relative text-secondary brightness-110">Experiencia</span>
        </h2>
      </div>
    </section>
  </header>
  <section class="relative">
    <LippiaTestManager />
    <CrowdarAcademy />
  </section>
</section>
