---
import CrowdarAcademy from "./Projects/CrowdarAcademy.astro";
import LippiaTestManager from "./Projects/LippiaTestManager.astro";
import LippiaReportServer from "./Projects/LippiaReportServer.astro";
---

<section class="mt-[250px] pt-[80px] pb-[380px] relative bg-primary text-white">
  <header class="absolute overflow-hidden py-[200px] top-[-200px] w-full">
    <section class="relative w-full h-full mark-triangle--before">
      <div class="container left-1/2 -translate-x-1/2 absolute text-right">
        <h2
          class="abosolute top-[-135px] -rotate-3 before:rounded before:block before:absolute before:inset-[-0.5rem_-1.5rem] before:bg-primary relative inline-block"
        >
          <span class="relative text-white">Experiencia</span>
        </h2>
      </div>
    </section>
  </header>
  <!-- relative container-sm xl:max-w-[1280px] xl:w-[90%] xl:grid xl:grid-cols-[minmax(300px,800px),1fr] xl:gap-x-[50px] -->
  <section class="relative">
    <div>
      <!-- <LippiaTestManager /> -->
      <CrowdarAcademy />
      <!-- <LippiaReportServer /> -->
    </div>
  </section>
</section>
