---
import CardProject from "./CardProject.astro";
---

<section
  class="mt-[250px] relative bg-primary before:absolute before:left-[-15%] before:top-[-80px] before:w-[125%] before:h-[300px] before:-rotate-3 before:bg-primary before:-z-10"
>
  <header class="text-right container">
    <h2
      class="abosolute top-[-135px] -rotate-3 before:block before:absolute before:-inset-1 before:bg-primary relative inline-block"
    >
      <span class="relative text-orange-500 bg-primary">Experiencia</span>
    </h2>
  </header>
  <article
    class="text-white h-[600px] pt-10 pb-16 lg:pt-[6rem] lg:pb-[6rem] px-2 space-y-20 lg:mt-0 lg:space-y-0 container flex flex-col items-center lg:grid grid-cols-2 place-content-center gap-x-10"
  >
    <div>
      <img src="academy/1.png" alt="academy" />
    </div>
    <header>
      <h3>Crowdar Academy</h3>
    </header>
    <footer>
      <p>
        Landing page dedicada a la promocion de cursos y servicion para el area
        testing y devops.
      </p>
    </footer>
  </article>
</section>

<section
  class="lg:mt-0 py-[7rem] container max-w-[800px] flex flex-col space-y-10 sm:space-y-20 gap-10 place-content-center xl:place-content-between"
>
  <CardProject
    title={`Crowdar Academy`}
    description={`Landing page dedicada a la promocion de cursos y servicion para el area testing y devops.`}
    elements={["NextJS", "SASS"]}
  >
    <img
      slot="header-img"
      class="object-cover aspect-[16/9]"
      src="academy/1.png"
      alt="academy"
    />
  </CardProject>
  <CardProject
    title={`Lippia Test Manager`}
    description={`Aplicacion web para gestion de pruebas manuales y automatizadas, con la posibilidad de ejecutarlas en paralelo y visualizar los resultados en tiempo real.`}
    elements={["ReactJS", "TailwindCSS", "NestJS", "PostgreSQL", "Keycloak"]}
  >
    <img
      slot="header-img"
      class="object-cover aspect-[16/9]"
      src="lippia/1.png"
      alt="lippia"
    />
  </CardProject>

  <CardProject
    title={`Tesla - Landing Page`}
    description={``}
    elements={["Astro", "JavaScript", "TailwindCSS"]}
  >
    <img
      slot="header-img"
      class="object-cover aspect-[16/9]"
      src="tesla/1.png"
      alt="tesla"
    />
  </CardProject>
</section>
