---
import ExperienceCard from "./ExperienceCard.astro";
---

<div class="flex flex-col col-span-1 space-y-[30px]">
  <h2 class="ml-[4px]">Experience</h2>
  <ExperienceCard
    title="Crowdar S.A."
    subtitle="Full Stack Developer"
    date="2021 - Actualidad"
    hoverColor="bg-[#1b356d]"
    href="/crowdar"
  >
    <img src="/crowdar.png" alt="crowdar" class="ml-[-5px]" />
  </ExperienceCard>
  <ExperienceCard
    title="Freelance"
    subtitle="Frontend Developer"
    date="2023"
    hoverColor="bg-green-500/40"
    href="/freelance"
  >
    <img src="/network.png" alt="network" width="70" />
  </ExperienceCard>
</div>
<span class="hidden hover:bg-[#1b356d]"></span>
<span class="hidden hover:bg-green-500/40"></span>
