---
import CrowdarSVG from "../common/Icons/CrowdarSVG.astro";
import ExperienceCard from "./ExperienceCard.astro";
import { Image } from "astro:assets";
import networkIcon from "../../assets/icon/network.png";
---

<div class="flex flex-col col-span-1 space-y-[30px]">
  <h2 class="ml-[4px]">Experience</h2>
  <ExperienceCard
    title="Crowdar S.A."
    subtitle="Full Stack Developer"
    date="2021 - Actualidad"
    hoverColor="bg-[#385B97]"
    href="/crowdar"
  >
    <div class="ml-[-4px] w-[72px]">
      <CrowdarSVG />
    </div>
  </ExperienceCard>
  <ExperienceCard
    title="Freelance"
    subtitle="Frontend Developer"
    date="2023"
    hoverColor="bg-green-500/90"
    href="/freelance"
  >
    <Image src={networkIcon} alt="network" class="mt-1" width="70" />
  </ExperienceCard>
</div>
<span class="hidden hover:bg-[#385B97]"></span>
<span class="hidden hover:bg-green-500/90"></span>
