---
import CardProject from "./CardProject.astro";
---

<section
  class="lg:mt-0 py-[7rem] container max-w-[800px] flex flex-col space-y-10 sm:space-y-20  gap-10 place-content-center xl:place-content-between"
>
  <CardProject
    title={`Crowdar Academy`}
    description={`Landing page dedicada a la promocion de cursos y servicion para el area testing y devops.`}
    elements={["NextJS", "SASS"]}
  >
    <img
      slot="header-img"
      class="object-cover aspect-[16/9]"
      src="academy/1.png"
      alt="academy"
    />
  </CardProject>
  <CardProject
    title={`Lippia Test Manager`}
    description={`Aplicacion web para gestion de pruebas manuales y automatizadas, con la posibilidad de ejecutarlas en paralelo y visualizar los resultados en tiempo real.`}
    elements={["ReactJS", "TailwindCSS", "NestJS", "PostgreSQL", "Keycloak"]}
  >
    <img
      slot="header-img"
      class="object-cover aspect-[16/9]"
      src="lippia/1.png"
      alt="lippia"
    />
  </CardProject>

  <CardProject
    title={`Tesla - Landing Page`}
    description={``}
    elements={["Astro", "JavaScript", "TailwindCSS"]}
  >
    <img
      slot="header-img"
      class="object-cover aspect-[16/9]"
      src="tesla/1.png"
      alt="tesla"
    />
  </CardProject>
</section>
