---
import CrowdarAcademy from "./CrowdarAcademy.astro";
import LippiaTestManager from "./LippiaTestManager.astro";
---

<section
  class="mt-[250px] pt-[80px] relative bg-primary pb-[160px] mark-triangle--before mark-triangle--after text-white"
>
  <header
    class="mx-auto left-1/2 -translate-x-1/2 absolute text-right container"
  >
    <h2
      class="abosolute top-[-215px] -rotate-3 before:block before:absolute before:-inset-1 before:bg-primary relative inline-block"
    >
      <span class="relative text-secondary bg-primary">Experiencia</span>
    </h2>
  </header>
  <section class="relative">
    <aside
      class="absolute h-[100%] top-0 left-[250px] bg-secondary w-[5px] rounded"
    >
    </aside>
    <LippiaTestManager />
    <CrowdarAcademy />
  </section>
</section>
