---
import CrowdarAcademy from "./Projects/CrowdarAcademy.astro";
import LippiaTestManager from "./Projects/LippiaTestManager.astro";
import LippiaReportServer from "./Projects/LippiaReportServer.astro";
import HeaderDivider from "../common/HeaderDivider.astro";
---

<section class="mt-[250px] pb-[380px] relative bg-primary text-white">
  <HeaderDivider name="Experiencia" />
  <section class="relative">
    <LippiaTestManager />
    <CrowdarAcademy />
    <LippiaReportServer />
  </section>
</section>
