---
import CrowdarAcademy from "./Projects/CrowdarAcademy.astro";
import LippiaTestManager from "./Projects/LippiaTestManager.astro";
import LippiaReportServer from "./Projects/LippiaReportServer.astro";
import HeaderDivider from "../common/HeaderDivider.astro";
---

<section class="relative z-[3] pb-[380px] bg-primary text-white">
  <HeaderDivider name="Experiencia" />
  <section class="relative">
    <LippiaTestManager />
    <CrowdarAcademy />
    <LippiaReportServer />
  </section>
</section>
