<article class="container max-w-[900px] relative">
  <header class="max-w-[calc(100%-125px)] pb-12 pr-20">
    <h3 class="">Lippia Test Manager</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo porro
      autem aliquid expedita ad numquam voluptatibus itaque, rerum ullam
      deleniti a amet beatae nulla cum, libero repellat cumque consequatur sit.
    </p>
  </header>
  <div class="mx-auto shadow-[0px_0px_40px_10px_#0000006e]">
    <img class="rounded-2xl shadow-2xl" src="lippia/1.png" alt="academy" />
  </div>
  <footer class="mt-12">
    <h4 class="text-[24px]">Características</h4>
    <ul class="pl-5 mt-1 space-y-1 [&>li]:marker">
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </footer>
</article>
