---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<aside
  class="hidden smallXL:block absolute -z-10 mx-auto w-[97%] max-w-[1335px] left-1/2 -translate-x-1/2 h-[calc(100%+40px)] top-[-40px]"
>
  <section class="relative h-full inline-block w-[140px] pt-[50px]">
    <div class="absolute top-0 w-max right-0 h-full ">
      <div class="relative flex justify-center w-[20px] h-full">
        <section class="absolute z-10 w-[10px] h-full bg-secondary"></section>
        <section
          data-label="circle-icon"
          class="sticky z-30 top-[30px] mb-[67px] h-[20px] w-[20px] rounded-full bg-secondary"
        >
        </section>
        <div class="absolute top-[-30px] h-[calc(100%+80px)] w-full">
          <section
            data-label="box-mask-top"
            class="sticky z-20 h-[40px] mb-[130px] top-0 w-full bg-primary"
          >
          </section>
        </div>
      </div>
    </div>
    <div
      class={`
        m-0 ml-auto mr-[10px] px-[4px] py-[2px] w-max font-bold text-[22px]
       sticky top-[80px] z-30

      before:block 
      before:absolute 
      before:inset-0 
      before:-skew-y-3 
      before:bg-secondary
        `}
    >
      <span class="relative text-black">{label ?? "LABEL"}</span>
    </div>
  </section>
</aside>
