---
interface Props {
  label: string
}

const { label } = Astro.props
---

<aside
  class="absolute -z-10 mx-auto w-[95%] max-w-[1335px] left-1/2 -translate-x-1/2 h-full top-0"
>
  <section
    class="relative h-full w-max before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary"
  >
    <!-- <p class="sticky top-[30px] m-0 font-bold text-[22px] text-black">2021 - 2023</p> -->
    <div
      class="absolute h-full w-[calc(100%-6px)] before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary before:translate-x-[-2px] before:translate-y-[2px]"
    >
    </div>

    <p
      class={`
      m-0 sticky top-[50px] font-bold text-[22px] 

      before:block 
      before:absolute 
      before:-inset-1 
      before:-skew-y-3 
      before:bg-secondary 
      
      after:absolute 
      after:top-[-100%] 
      after:w-[calc(100%+10px)] 
      after:bg-primary 
      after:h-[100px] 
      after:-z-10 
      after:left-[-5px] 
      after:-skew-y-3 
      after:-inset-1 
      after:translate-y-[-50px]
    `}
    >
      <span class="relative text-black">{label ?? "LABEL"}</span>
    </p>
  </section>
</aside>
