---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="relative z-[2] text-white">
  <head>
    <title>Pedro Moran</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Pedro Moran" />
    <meta property="og:title" content="Pedro Moran - Frontend Developer" />
    <meta
      name="description"
      content="Pedro Moran is a frontend developer with experience and knowledge building UI / UX using HTML, CSS, JS, ReactJs and more."
    />
    <meta
      name="og:description"
      content="Pedro Moran is a frontend developer with experience and knowledge building UI / UX using HTML, CSS, JS, ReactJs and more."
    />
    <meta
      property="og:image"
      content="https://pedromoran.com/profile_meta.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:width" content="500" />
    <meta
      property="og:image:alt"
      content="The Pedro Moran Image, displayed on a transparent background."
    />
    <meta property="og:site_name" content="Pedro Moran - Frontend Developer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="Pedro Moran" />

    <link rel="icon" type="image/svg+xml" href="/wallet.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      fetchpriority="high"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-primary relative z-[2]">
    <slot />
    <style is:global>
      html,
      body {
        font-family: "Poppins", sans-serif;
        color: white;
        height: 100vh;
        widows: 100vw;
        overflow-x: hidden;
      }

      *::-webkit-scrollbar {
        background-color: #262626;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #454444;
      }

      *::-webkit-scrollbar-button {
        background-color: #454444;
      }

      .mask-triangle--before::before {
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
      }
    </style>
  </body>
</html>
