---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="relative z-[2] text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Pedro Moran" />
    <meta
      name="description"
      content="Pedro Moran is a frontend developer with experience and knowledge building UI / UX using HTML, CSS, JS, ReactJs and more." 
    />
    <meta property="og:title" content="Pedro Moran - Fronend Developer" />
    <meta name="og:image" content="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%20869w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%201169w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%201469w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%201738w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%201769w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%202069w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=2338&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%202338w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=2369&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%202369w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%202669w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%202938w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%202969w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=3269&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%203269w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=3538&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%203538w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=3569&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%203569w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%203869w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=4138&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%204138w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=4169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%204169w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=4469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%204469w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=4738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%204738w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=4769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%204769w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=5069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%205069w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=5338&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%205338w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=5369&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%205369w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=5669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%205669w,%20https://images.unsplash.com/photo-1472457897821-70d3819a0e24?q=80&w=5893&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%205893w" />
    <link rel="icon" type="image/svg+xml" href="/wallet.svg" />
    <title>Pedro Moran</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      fetchpriority="high"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-primary relative z-[2]">
    <slot />
    <style is:global>
      html,
      body {
        font-family: "Poppins", sans-serif;
        color: white;
        height: 100vh;
        widows: 100vw;
        overflow-x: hidden;
      }

      *::-webkit-scrollbar {
        background-color: #262626;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #454444;
      }

      *::-webkit-scrollbar-button {
        background-color: #454444;
      }

      .mask-triangle--before::before {
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
      }
    </style>
  </body>
</html>
