---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="relative z-[2] text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/wallet.svg" />
    <title>Pedro Moran</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      fetchpriority="high"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-primary relative z-[2]">
    <slot />
    <style is:global>
      html,
      body {
        font-family: "Poppins", sans-serif;
        color: white;
        height: 100vh;
        widows: 100vw;
        /* overflow-x: hidden; */
      }

      *::-webkit-scrollbar {
        background-color: #262626;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #454444;
      }

      *::-webkit-scrollbar-button {
        background-color: #454444;
      }

      .mask-triangle--before::before {
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
      }
    </style>
  </body>
</html>
