<a
  aria-label="Download pdf Button"
  class="btn w-[60px] h-[50px]"
  download="resume-pedromoran.pdf"
  href="/resume-pedromoran.pdf"
>
  <svg
    width="30"
    height="30"
    viewBox="0 0 175 138"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M109.375 106.699H94.9023V59.375C94.9023 58.5156 94.1992 57.8125 93.3398 57.8125H81.6211C80.7617 57.8125 80.0586 58.5156 80.0586 59.375V106.699H65.625C64.3164 106.699 63.5937 108.203 64.3945 109.219L86.2695 136.895C86.4157 137.081 86.6024 137.232 86.8156 137.336C87.0288 137.44 87.2628 137.494 87.5 137.494C87.7371 137.494 87.9712 137.44 88.1844 137.336C88.3975 137.232 88.5843 137.081 88.7305 136.895L110.605 109.219C111.406 108.203 110.684 106.699 109.375 106.699Z"
      fill="white"></path>
    <path
      d="M145.977 40.3711C137.031 16.7773 114.238 0 87.5391 0C60.8398 0 38.0469 16.7578 29.1016 40.3516C12.3633 44.7461 0 60 0 78.125C0 99.707 17.4805 117.188 39.043 117.188H46.875C47.7344 117.188 48.4375 116.484 48.4375 115.625V103.906C48.4375 103.047 47.7344 102.344 46.875 102.344H39.043C32.4609 102.344 26.2695 99.7266 21.6602 94.9805C17.0703 90.2539 14.6289 83.8867 14.8438 77.2852C15.0195 72.1289 16.7773 67.2852 19.9609 63.2031C23.2227 59.043 27.793 56.0156 32.8711 54.668L40.2734 52.7344L42.9883 45.5859C44.668 41.1328 47.0117 36.9727 49.9609 33.2031C52.8725 29.4669 56.3214 26.1826 60.1953 23.457C68.2227 17.8125 77.6758 14.8242 87.5391 14.8242C97.4023 14.8242 106.855 17.8125 114.883 23.457C118.77 26.1914 122.207 29.4727 125.117 33.2031C128.066 36.9727 130.41 41.1523 132.09 45.5859L134.785 52.7148L142.168 54.668C152.754 57.5195 160.156 67.1484 160.156 78.125C160.156 84.5898 157.637 90.6836 153.066 95.2539C150.825 97.5084 148.159 99.2958 145.222 100.513C142.285 101.73 139.136 102.352 135.957 102.344H128.125C127.266 102.344 126.562 103.047 126.562 103.906V115.625C126.562 116.484 127.266 117.188 128.125 117.188H135.957C157.52 117.188 175 99.707 175 78.125C175 60.0195 162.676 44.7852 145.977 40.3711Z"
      fill="white"></path>
  </svg>
</a>
