---
import classNames from "classnames";
import CrowdarAcademy from "../components/ExperienceSection/Projects/CrowdarAcademy.astro";
import LippiaReportServer from "../components/ExperienceSection/Projects/LippiaReportServer.astro";
import LippiaTestManager from "../components/ExperienceSection/Projects/LippiaTestManager.astro";
import Layout from "../components/Layouts/Layout.astro";
import CrowdarSVG from "../components/common/Icons/CrowdarSVG.astro";
import LayoutNavbar from "../components/Layouts/LayoutNavbar.astro";

const PAGE_BG_COLOR = "bg-[#385B97]";
---

<Layout title="Experience - Crowdar">
  <LayoutNavbar>
    <header
      class={classNames(
        "container flex-center h-[100px] xs:h-[125px] sm:h-[150px] py-5 shadow-sm mb-[50px] space-x-5 rounded-2xl",
        PAGE_BG_COLOR
      )}
    >
      <picture class="w-[60px] xs:w-[70px] sm:w-[80px] ml-[-8px]">
        <CrowdarSVG />
      </picture>
      <h1 class="text-[35px] xs:text-[45px] sm:text-[55px] text-current">
        Crowdar A.S.
      </h1>
    </header>
    <section>
      <LippiaTestManager color={PAGE_BG_COLOR} />
      <CrowdarAcademy color={PAGE_BG_COLOR} />
      <LippiaReportServer color={PAGE_BG_COLOR} />
      <span class="hidden [&>li]:before:bg-[#385B97]"></span>
    </section>
  </LayoutNavbar>
</Layout>
