---
import classNames from "classnames";
import CrowdarAcademy from "../components/ExperienceSection/Projects/CrowdarAcademy.astro";
import LippiaReportServer from "../components/ExperienceSection/Projects/LippiaReportServer.astro";
import LippiaTestManager from "../components/ExperienceSection/Projects/LippiaTestManager.astro";
import Layout from "../components/Layouts/Layout.astro";
import CrowdarSVG from "../components/common/Icons/CrowdarSVG.astro";

const PAGE_BG_COLOR = "bg-[#385B97]";
---

<Layout title="Experience - Crowdar">
  <main class="pb-[300px] pt-[100px] bg-primary text-white">
    <a
      href="/"
      class="sticky top-[120px] z-10 flex w-max items-center space-x-2 ml-[50px] group text-white hover:underline"
    >
      <i class="inline-block relative"
        ><svg
          width="21"
          height="14"
          viewBox="0 0 21 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-0 top-1/2 -translate-y-1/2 group-hover:left-[-5px] transition-all duration-300"
        >
          <path
            d="M8 13L1 7L8 1"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M20 7L2 7"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </i>
      <p class="m-0 w-[100px] text-right">Go back</p>
    </a>
    <header
      class={classNames(
        "h-[160px] container flex-center py-5 shadow-sm mb-[50px] flex items-center space-x-5 rounded-2xl",
        PAGE_BG_COLOR
      )}
    >
      <picture class="flex w-[110px] ml-[-8px]">
        <CrowdarSVG />
      </picture>
      <h1 class="text-[60px] text-current">Crowdar A.S.</h1>
    </header>
    <LippiaTestManager color={PAGE_BG_COLOR} />
    <CrowdarAcademy color={PAGE_BG_COLOR} />
    <LippiaReportServer color={PAGE_BG_COLOR} />
    <span class="hidden [&>li]:before:bg-[#385B97]"></span>
  </main>
</Layout>
