---
import classNames from "classnames";
import Envero from "../components/ExperienceSection/Projects/Envero.astro";
import Layout from "../components/Layouts/Layout.astro";
import { Image } from "astro:assets";
import NetworkIcon from "../assets/icons/network.png";
import LayoutNavbar from "../components/Layouts/LayoutNavbar.astro";

const PAGE_BG_COLOR = "bg-green-500/90";
---

<Layout title="Experience - Crowdar">
  <LayoutNavbar>
    <header
      class={classNames(
        "container flex-center h-[100px] xs:h-[125px] sm:h-[150px] py-5 shadow-sm mb-[50px] space-x-5 rounded-2xl",
        PAGE_BG_COLOR
      )}
    >
      <Image
        src={NetworkIcon}
        alt="network"
        class="w-[80px] xs:w-[90px] sm:w-[100px] ml-[-8px]"
        loading="eager"
        fetchpriority="high"
      />
      <h1 class="text-[38px] xs:text-[50px] sm:text-[55px] text-current">
        Freelance
      </h1>
    </header>
    <Envero color={PAGE_BG_COLOR} />
  </LayoutNavbar>
</Layout>
