---
import HeroSection from "../components/HeroSection/HeroSection.astro";
import ExperienceSection from "../components/ExperienceSection/ExperienceSection.astro";
import Layout from "../components/Layouts/Layout.astro";
import AboutMe from "../components/ExperienceSection/AboutMe.astro";
import Technologies from "../components/common/technologies/index.astro";
---

<Layout title="Welcome to Astro.">
  <HeroSection />
  <section
    class={`
    relative pt-[75px] space-y-[200px] xs:pt-[25px] xs:z-[3] 2xl:space-y-0 2xl:grid 2xl:grid-cols-[700px,500px] 2xl:gap-[50px] 2xl:place-content-center 2xl:place-items-baseline bg-primary text-white
    xs:before:absolute before:z-10 before:bg-gradient-to-t before:from-primary before:to-transparent before:top-[-155px] before:h-[180px] before:w-full
`}
  >
    <ExperienceSection />
    <AboutMe />
  </section>
  <section class="bg-primary/50">
    <div
      class="container w-[90%] max-w-[1300px] space-y-12 pt-[200px] 2xl:pt-[100px] pb-[200px]"
    >
      <h2 class="ml-[4px] text-center 2xl:text-left">Technologies</h2>
      <Technologies />
    </div>
  </section>
</Layout>
