---
import ProfileSection from "../components/ProfileSection/ProfileSection.astro";
import ExperienceSection from "../components/ExperienceSection/ExperienceSection.astro";
import Layout from "../components/Layouts/Layout.astro";
import AboutMe from "../components/ExperienceSection/AboutMe.astro";
import Technologies from "../components/common/technologies/index.astro";
---

<Layout title="Welcome to Astro.">
  <ProfileSection />
  <section
    class={`
    relative z-[3] mt-[10px] grid grid-cols-[700px,500px] gap-[100px] place-content-center bg-primary/50 text-white
    before:absolute before:z-10 before:bg-gradient-to-t before:from-primary/50 before:to-transparent before:bottom-full before:h-[200px] before:w-full
`}
  >
    <ExperienceSection />
    <AboutMe />
  </section>
  <section
    class="container bg-primary w-[90%] max-w-[1300px] space-y-12 mt-[100px] pb-[200px]"
  >
    <h2 class="ml-[4px]">Technologies</h2>
    <Technologies />
  </section>
</Layout>
