---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperienceSection from "../components/ExperienceSection/ExperienceSection.astro";
---

<Layout title="Welcome to Astro.">
	<HeroSection />
	<ExperienceSection />
	<!-- <div class="mask h-[850px] w-full"></div> -->
</Layout>

