---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="h-screen container flex-center">
		<div class="max-w-[510px] space-y-5">
			<h1 class="leading-8">Pedro Moran</h1>
			<p>
				<span class="font-medium">Frontend Developer</span> with <span
					class="text-orange-500 font-medium">+2 years</span
				> of experience.
			</p>
			<p>
				Currently working at <a
					class="font-medium text-blue-600 hover:text-blue-800 duration-100 group"
					href="https://crowdar.com.ar/"
					target="blank">Crowd<span class="text-green-600 group-hover:text-green-700">ar</span></a
				>
				with a full-time development team building a product dedicated to the B2B
				sector.<p></p>
				<p>
					In charge of planning, analyzing, refining, making decisions and carrying out new implementations, I also help a lot to team members as devs, QAs or automators.
				</p>
			</p>
		</div>
	</main>
</Layout>
