---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="h-screen container flex items-center">
		<div class="max-w-[510px] space-y-5">
			<h1 class="leading-8">Pedro Moran</h1>
			<p>
				<span class="font-medium">Frontend Developer</span> with <span
					class="text-orange-500 font-medium">+2 years</span
				> of experience.
			</p>
			<p>
				Currently working at <a
					class="font-medium text-blue-600 hover:text-blue-800 duration-100 group"
					href="https://crowdar.com.ar/"
					target="blank"
					>Crowd<span class="text-green-600 group-hover:text-green-700">ar</span
					></a
				>
				with a full-time development team building a product dedicated to the B2B
				sector.<p></p>
				<p>
					In charge of planning, analyzing, refining, making decisions and
					carrying out new implementations, I also help a lot to team members as
					devs, QAs or automators.
				</p>
			</p>
		</div>
	</main>

	<section class="container h-screen">
		<h2 class="mb-20">Experience</h2>
		<article class="w-[500px] border rounded-lg overflow-hidden shadow-[0px_3px_20px_-9px_#00000042]">
			<header class="">
				<img class="object-cover aspect-[16/11]" src="academy/1.png" alt="academy" />
			</header>
			<div class="p-4">
				<h4 class="mb-1">Crowdar Academy</h4>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni quasi id, quo molestias reiciendis cum, rerum voluptatem labore aperiam tenetur repudiandae cupiditate modi odio facere, eos sunt ut in natus.
				</p>
			</div>
		</article>
	</section>
</Layout>
