---
---

<section class="container">
  <section
    class="mt-40 lg:mt-0 grid grid-cols-[repeat(auto-fit,minmax(330px,1fr))] grid-rows-[50px,_1fr] gap-10 place-content-center xl:place-content-between"
  >
    <h2 class="text-[40px] text-center col-span-full">Experience</h2>
    <article
      class="rounded-lg overflow-hidden shadow-[0px_3px_20px_-9px_#00000042]"
    >
      <header class="">
        <img
          class="object-cover aspect-[16/9]"
          src="academy/1.png"
          alt="academy"
        />
      </header>
      <div class="p-4">
        <h4 class="mb-1">Crowdar Academy</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni quasi
          id, quo molestias reiciendis cum, rerum voluptatem labore aperiam
          tenetur repudiandae cupiditate modi odio facere, eos sunt ut in natus.
        </p>
      </div>
    </article>
    <article
      class="rounded-lg overflow-hidden shadow-[0px_3px_20px_-9px_#00000042]"
    >
      <header class="">
        <img
          class="object-cover aspect-[16/9]"
          src="lippia/1.png"
          alt="lippia"
        />
      </header>
      <div class="p-4">
        <h4 class="mb-1">Lippia Test Manager</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni quasi
          id, quo molestias reiciendis cum, rerum voluptatem labore aperiam
          tenetur repudiandae cupiditate modi odio facere, eos sunt ut in natus.
        </p>
      </div>
    </article>
    <arti
      cle
      class="rounded-lg overflow-hidden shadow-[0px_3px_20px_-9px_#00000042]"
    >
      <header class="">
        <img
          class="object-cover aspect-[16/9]"
          src="tesla/1.png"
          alt="tesla"
        />
      </header>
      <div class="p-4">
        <h4 class="mb-1">Tesla - Leading Page (Personal Project)</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni quasi
          id, quo molestias reiciendis cum, rerum voluptatem labore aperiam
          tenetur repudiandae cupiditate modi odio facere, eos sunt ut in natus.
        </p>
      </div>
    </arti>
  </section>
</section>
