---
---

<div class="container mt-40 bg-gradient-to-r from-transparent via-gray-300 to-transparent h-[2px]"></div>
<footer class="container sm:space-y-0 py-16 flex flex-col space-y-5 sm:grid grid-cols-[repeat(3,minmax(max-content,12rem))] place-content-center text-center [&>ul>li]:p-1">
  <ul>
    <li>Decisive</li>
    <li>Motivated</li>
    <li>Participative</li>
  </ul>
  <ul>
    <li>Proactive</li>
    <li>Autodidact</li>
    <li>Communicative</li>
  </ul>
  <ul>
    <li>Curious</li>
    <li>Dedicated</li>
    <li>Collaborative</li>
  </ul>
</footer>