---
---

<section class="relative pb-[120px]">
  <header class="absolute overflow-hidden py-[200px] top-[-230px] w-full">
    <section class="relative w-full h-full mark-triangle--before before:rotate-3 before:bg-gray-100">
      <div
        class="mx-auto left-1/2 -translate-x-1/2 absolute text-left container"
      >
        <h2
          class="abosolute top-[-130px] rotate-3 before:block before:absolute before:-inset-1 before:bg-gray-100 relative inline-block"
        >
      <span class="relative text-primary bg-gray-100"
      >Footer in progress..:)</span
    >
        </h2>
      </div>
    </section>
  </header>
</section>
<!-- 
<footer
  class="container-card mt-[8rem] mb-12 relative container sm:space-y-0 py-10 flex flex-col space-y-5 sm:grid grid-cols-[repeat(3,minmax(max-content,12rem))] gap-y-5 place-content-center text-center [&>ul>li]:p-1"
>
  <ul>
    <li>Decisive</li>
    <li>Motivated</li>
    <li>Participative</li>
  </ul>
  <ul>
    <li>Agile</li>
    <li>Autodidact</li>
    <li>Communicative</li>
  </ul>
  <ul>
    <li>Curious</li>
    <li>Dedicated</li>
    <li>Collaborative</li>
  </ul>
</footer> -->
