---
---

<main class="mt-20 space-y-20 lg:mt-0 lg:space-y-0 lg:h-screen container flex flex-col items-center lg:grid grid-cols-2 place-content-center gap-x-10">
	<section class="lg:max-w-[540px] space-y-5">
		<h1 class="leading-8">Pedro Moran</h1>
		<p>
			<span class="font-bold">Frontend Developer</span> with <span
				class="text-orange-500 font-medium">+2 years</span
			> of experience.
		</p>
		<p>
			Currently working at <a
				class="font-medium text-blue-600 hover:underline duration-100 group"
				href="https://crowdar.com.ar/"
				target="blank">Crowd<span class="text-green-600">ar</span></a
			>
			with a full-time development team building a product dedicated to the B2B
			sector.<p></p>
			<p>
				In charge of planning, analyzing, refining, making decisions and
				carrying out new implementations, also helping a lot to team members as
				devs, QAs and automators.
			</p>
		</p>
	</section>

	<section class="relative flex-center mx-auto w-[330px] h-[330px] md:w-[380px] md:h-[380px] ">
		<h3 class="absolute z-20 font-bold">Skills</h3>
		<!-- animate-spin [&>div>img]:animate-spin-reverse -->
		<div
			class="animate-spin [&>div>img]:animate-spin-reverse w-full h-full relative  [&>div]:duration-100 [&>div]:absolute rounded-full"
		>
			<div
				class="left-1/2 -translate-x-1/2 hover:scale-110 w-[75px] p-[10px] bg-[#ffd600] rounded-full overflow-hidden shadow-[0px_1px_3px_rgb(0_0_0_/_0.4)]"
			>
				<img
					class="w-full h-full"
					src="skills/javascript.svg"
					alt="javascript"
				/>
			</div>
			<div
				class="top-[12%] right-[11%] hover:scale-110 w-[75px] p-[12px] bg-[#1976D2] rounded-full overflow-hidden shadow-[0px_1px_3px_rgb(0_0_0_/_0.4)]"
			>
				<img
					class="w-full h-full"
					src="skills/typescript.svg"
					alt="typescript"
				/>
			</div>
			<div
				class="top-1/2 -translate-y-1/2 right-0 hover:scale-110 w-[75px] p-[12px] bg-[#222222] rounded-full overflow-hidden shadow-[0px_1px_3px_rgb(0_0_0_/_0.4)]"
			>
				<img
					class="w-full h-full object-cover aspect-square"
					src="skills/react.svg"
					alt="react"
				/>
			</div>
			<div
				class="bottom-[12%] right-[11%] hover:scale-110 w-[75px] p-[14px] bg-[#0D1323] rounded-full overflow-hidden shadow-[0px_1px_3px_rgb(0_0_0_/_0.4)]"
				style={{
					background: `
						linear-gradient(217deg, #181a1f, #4531728f 70%), 
						linear-gradient(127deg, #181a1f, #4531728f 70%), 
						linear-gradient(336deg, #181a1f, #4531728f 70%);`
				}}
			>
				<img
					class="w-full h-full object-cover aspect-square"
					src="skills/astro.svg"
					alt="astro"
				/>
			</div>
			<div class="left-1/2 -translate-x-1/2 bottom-0 w-[75px] hover:scale-110 rounded-full">
				<img
					class="w-full h-full object-cover aspect-square"
					style={{ filter: "drop-shadow(0px 1px 2px rgb(0 0 0 / 0.4))" }}
					src="skills/css.svg"
					alt="css"
				/>
			</div>
			<div
				class="bottom-[12%] left-[11%] hover:scale-110 w-[75px] rounded-full"
			>
				<img
					class="w-full h-full object-cover aspect-square"
					style={{ filter: "drop-shadow(0px 1px 2px rgb(0 0 0 / 0.4))" }}
					src="skills/html.svg"
					alt="html"
				/>
			</div>
			<div
				class="top-1/2 -translate-y-1/2 left-0 flex-center bg-black p-[10px] hover:scale-110 w-[75px] h-[75px] rounded-full shadow-[0px_1px_3px_rgb(0_0_0_/_0.4)]"
			>
				<img
					class="w-full"
					style={{ filter: "drop-shadow(0px 1px 1px rgb(0 0 0 / 0.4))" }}
					src="skills/next.svg"
					alt="next"
				/>
			</div>
			<div
				class="top-[12%] left-[11%] flex-center bg-white p-[10px] w-[75px] h-[75px] hover:scale-110 rounded-full shadow-md"
			>
				<img
					class="w-full"
					style={{ filter: "drop-shadow(0px 1px 1px rgb(0 0 0 / 0.4))" }}
					src="skills/tailwind.svg"
					alt="tailwind"
				/>
			</div>
		</div>
	</section>
</main>