<ul
  class="text-white space-y-5 2xl:grid 2xl:grid-cols-[repeat(auto-fill,_minmax(100px,_500px))] 2xl:place-content-center 2xl:gap-10 2xl:px-[50px] 2xl:m-0"
>
  <article
    class="z-[-1] backdrop-blur-[100px] p-10 rounded-xl shadow-md border border-[#04142a26] transition-colors duration-100"
  >
    <h4 class="text-current">Development</h4>
    <p>Build your frontend aplication with React, Nextjs or Astro.</p>
  </article>
  <article
    class="z-[-1] backdrop-blur-[100px] p-10 rounded-xl shadow-md border border-[#04142a26] transition-colors duration-100"
  >
    <h4 class="text-current">Testing</h4>
    <p>Tests for your aplications with Jest and React Testing Librey.</p>
  </article>
  <article
    class="z-[-1] backdrop-blur-[100px] p-10 rounded-xl shadow-md border border-[#04142a26] transition-colors duration-100"
  >
    <h4 class="text-current">Bug resolution</h4>
    <p>Fix bugs in your aplications, using the best practices and tools.</p>
  </article>
</ul>
