<ul
  class="w-full text-white place-content-center grid grid-cols-[repeat(auto-fill,_minmax(100px,_500px))] gap-10 px-[50px] m-0"
>
  <article
    class="z-0 backdrop-blur-[100px] p-10 rounded-xl shadow-md border border-[#04142a26] transition-colors duration-100"
  >
    <h4 class="text-current">Frontend Development</h4>
    <p>Build your frontend aplication with React, Nextjs or Astro.</p>
  </article>
  <article
    class="z-0backdrop-blur-[100px] p-10 rounded-xl shadow-md border border-[#04142a26] transition-colors duration-100"
  >
    <h4 class="text-current">Testing</h4>
    <p>Tests for your aplications with Jest and React Testing Librey.</p>
  </article>
  <article
    class="z-0backdrop-blur-[100px] p-10 rounded-xl shadow-md border border-[#04142a26] transition-colors duration-100"
  >
    <h4 class="text-current">Bug resolution</h4>
    <p>Fix bugs in your aplications, using the best practices and tools.</p>
  </article>
</ul>
