<section
  class={`
    relative z-[3] mt-[75px] bg-primary text-white
    before:absolute before:z-10 before:bg-gradient-to-t before:from-primary before:to-transparent before:bottom-full before:h-[200px] before:w-full
`}
>
  <h2 class="text-current text-center text-[50px]">My Services</h2>
  <ul
    class="w-full place-content-center mt-[100px] grid grid-cols-[repeat(auto-fill,_minmax(100px,_500px))] gap-10 px-[50px] m-0"
  >
    <article
      class="bg-secondary/20 p-10 rounded-xl shadow-md border border-[#1f2937] border-opacity-50 transition-colors duration-100"
    >
      <h4 class="text-current m-0 leading-10">Frontend Development</h4>
      <p class="text-[22px]">
        Build your frontend aplication with React, Nextjs and Astro.
      </p>
    </article>
    <article
      class="bg-secondary/20 p-10 rounded-xl shadow-md border border-[#1f2937] border-opacity-50 transition-colors duration-100"
    >
      <h4 class="text-current m-0 leading-10">Testing</h4>
      <p class="text-[22px]">
        Tests for your aplications with Jest and React Testing Librey.
      </p>
    </article>
    <article
      class="bg-secondary/20 p-10 rounded-xl shadow-md border border-[#1f2937] border-opacity-50 transition-colors duration-100"
    >
      <h4 class="text-current m-0 leading-10">Bug resolution</h4>
      <p class="text-[22px]">
        Fix bugs in your aplications, using the best practices and tools.
      </p>
    </article>
  </ul>
  <span class="hover:bg-[#1b356d]"></span>
  <span class="hover:bg-green-500/40"></span>
</section>
