---
import AstroIcon from "../Icons/Tech/AstroItem.astro";
import TestingLibraryIcon from "../Icons/Tech/TestingLibraryItem.astro";
import HtmlIcon from "../Icons/Tech/HtmlItem.astro";
import JavaScriptIcon from "../Icons/Tech/JavaScriptItem.astro";
import JestIcon from "../Icons/Tech/JestItem.astro";
import NestJsIcon from "../Icons/Tech/NestJsItem.astro";
import NextJsItem from "../Icons/Tech/NextJsItem.astro";
import PostgreSqlIcon from "../Icons/Tech/PostgreSqltem.astro";
import ReactIcon from "../Icons/Tech/ReactItem.astro";
import TailwindcssIcon from "../Icons/Tech/TailwindcssItem.astro";
import TypescriptIcon from "../Icons/Tech/TypescriptItem.astro";
import ViteItem from "../Icons/Tech/ViteItem.astro";
import SassItem from "../Icons/Tech/SassItem.astro";
import CssItem from "../Icons/Tech/CssItem.astro";

interface Props {
  theme?: "dark" | "light";
  technologies?: (
    | "HTML"
    | "CSS"
    | "JavaScript"
    | "TypeScript"
    | "Astro"
    | "React"
    | "Tailwind"
    | "Testing_Library"
    | "Jest"
    | "NestJS"
    | "SASS"
    | "NextJS"
    | "PostgreSQL"
    | "Vite"
  )[];
  grid3Col?: boolean;
}

const { theme = "dark", grid3Col = false, technologies } = Astro.props;

const techComponets = {
  HTML: {
    Component: HtmlIcon,
    name: "HTML",
  },
  CSS: {
    Component: CssItem,
    name: "CSS",
  },
  JavaScript: {
    Component: JavaScriptIcon,
    name: "JavaScript",
  },
  TypeScript: {
    Component: TypescriptIcon,
    name: "TypeScript",
  },
  React: {
    Component: ReactIcon,
    name: "React",
  },
  Astro: {
    Component: AstroIcon,
    name: "Astro",
  },
  NextJS: {
    Component: NextJsItem,
    name: "NextJS",
  },
  Tailwind: {
    Component: TailwindcssIcon,
    name: "Tailwind",
  },
  SASS: {
    Component: SassItem,
    name: "SASS",
  },
  Testing_Library: {
    Component: TestingLibraryIcon,
    name: "Testing Library",
  },
  Jest: {
    Component: JestIcon,
    name: "Jest",
  },
  Vite: {
    Component: ViteItem,
    name: "Vite",
  },
  NestJS: {
    Component: NestJsIcon,
    name: "NestJS",
  },
  PostgreSQL: {
    Component: PostgreSqlIcon,
    name: "PostgreSQL",
  },
};

const techComponetsFiltered = technologies?.map((tech) => techComponets[tech]);
---

<ol class="w-full flex flex-wrap gap-10 place-content-center">
  {
    techComponetsFiltered
      ? techComponetsFiltered?.map(({ Component, name }) => (
          <li class="text-white w-[150px]">
            <div
              class={`
              w-[150px] 
              h-[150px]
              rounded-full
              shadow-md
              border
              border-[#141519]
              bg-[#673f6836]
              flex-center
            `}
            >
              <Component />
            </div>
            <p class="text-center font-semibold text-[22px] mt-[2px]">{name}</p>
          </li>
        ))
      : Object.values(techComponets).map(({ Component, name }) => (
          <li class="text-white w-[150px]">
            <div
              class={`
              w-[150px] 
              h-[150px]
              rounded-full
              shadow-md
              border
              border-[#141519]
              bg-[#673f6836]
              flex-center
            `}
            >
              <Component />
            </div>
            <p class="text-center font-semibold text-[22px] mt-[2px]">{name}</p>
          </li>
        ))
  }
</ol>
