---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		background: 
  linear-gradient(217deg, rgba(208, 208, 208, 0.7), rgba(255, 255, 255, 0) 40%),            
  linear-gradient(127deg, rgba(208, 208, 208, 0.7), rgba(255, 255, 255, 0) 40%),            
  linear-gradient(336deg, rgba(208, 208, 208, 0.7), rgba(255, 255, 255, 0) 40%),            
  linear-gradient(427deg, rgba(208, 208, 208, 0.7), rgba(255, 255, 255, 0) 40%);
	}
	body {
		padding-bottom: 10rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>