---
import { GmailDropSection } from "./gmail-drop-section";
import GmailIcon from "./gmail-icon/index.astro";
---

<div
  aria-label="Gmail Button"
  class="relative btn p-0 text-center text-white group"
>
  <a
    class="rounded group-hover:rounded-none group-hover:rounded-t bg-[#3e486b6b] hover:bg-secondary/50 grid grid-cols-[60px,1fr] duration-100"
    href="mailto:pedromoran228@gmail.com"
  >
    <i
      class="hidden absolute left-0 bottom-[-4px] group-hover:block w-full bg-primary h-[4px]"
    ></i>
    <GmailIcon />
  </a>
  <GmailDropSection client:load />
</div>
